.image-slider-container {
    width: 80%;
    margin: auto;
}

.top-image img {
    width: 100%;
    height: auto;
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-item {
    flex: 0 0 calc(30% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

.image-item img {
    width: 100%;
    height: auto;
    display: block;
}