.progress-bar {
    display: flex;
    align-items: center;
}

.progress-title {
    flex: auto;

}

.featureIcon {
    width: 20%;
}

.featureIcon img {
    width: -webkit-fill-available;
}

.progress {
    background-color: white;
    height: 20px;
    position: relative;
    width: 100%;
    border-radius: 10px;
    margin: 5px 10px;
    flex: 1;
}

.progress-fill {
    background-color: #2f9b33;
    color: white;
    line-height: 20px;
    text-align: center;
    width: calc(var(--percentage) * 1%);
    position: absolute;
    border-radius: 10px;
}

.progress-container {
    width: 70%;
    display: flex;
    align-items: center;
}