.review-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.prev-button,
.next-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.review-card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 10px;
}

.review-card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    margin: 25px;
    padding: 20px;
}

.review-text {
    margin-bottom: 10px;
    font-size: 20px;
}

.review-author {
    text-align: right;
    font-size: 20px;
    font-style: italic;
}