.rated-beaches {
    display: flex;
    flex-direction: column;
}


.rated-beaches__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 3rem;
    margin: 2em 3em;
}

.rated-beaches__cards::after {
    content: '';
    grid-column: 1;
}


.rated-beaches__title {
    color: black;
    text-transform: uppercase;
    padding-top: 30px;
}

@media only screen and (max-width:640px) {
    .rated-beaches__title {
        text-align: center;
    }
}

@media only screen and (max-width:480px) {
    .rated-beaches__cards {
        margin: 0;
    }
}