.rated-beach__image {
    width: 100%;

}

.rated-beach__title {
    color: black;
}

.rated-beach__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}