.beachHeaderWrapper {
    width: 100%;
    background: linear-gradient(to bottom, #f0f0f0, #ffffff);
    background-size: cover;
    position: relative;
    border-bottom: 1px solid rgba(219, 219, 219, 0.24);
}

.beachHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    padding-inline: clamp(16px, 5vw, 60px);
    border-bottom: 1px solid rgba(219, 219, 219, 0.24);
    background-size: cover;
    color: #fff;
    text-align: center;
    position: relative;
}