.beachNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.navLogo {
    color: white;
    font-size: 2em;
    font-style: italic;
}


@media only screen and (max-width: 640px) {

    .beachNav {
        padding: 1.5em;
    }

    .navLogo {
        color: rgb(65, 64, 64);
    }
}