.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #ADD8E6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    color: #2F4F4F;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar__logo a {
    font-size: 2rem;
    font-weight: 700;
    color: #2F4F4F;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease;
}

.navbar__menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__menu li a {
    color: #2F4F4F;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar__menu li a:hover {
    color: #ac8717;
}


.navbar__hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.navbar__hamburger span {
    width: 25px;
    height: 3px;
    background-color: #2F4F4F;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.navbar__links {
    display: flex;
    align-items: center;
}


.navbar__links>div {
    margin-left: 20px;
}


@media (max-width: 768px) {
    .navbar__menu {
        display: none;
    }

    .navbar__hamburger {
        display: flex;
    }
}