h1,
h2,
p {
    color: white;
    text-align: center;
}

.header-wrapper {
    padding: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title {
    text-transform: uppercase;
    font-size: 40px;

}

h2 {
    font-size: 30px;
}



.search-bar {
    background-color: white;
    padding: 10px;
    border-radius: 10em;
    margin: 1.2em 0;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
    min-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.text-input {
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    font-size: 15px;
    color: rgb(65, 65, 65);

}

.search-button {
    background-color: #ff9900;
    color: white;
    margin-left: auto;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    margin-left: 10px;
    width: 110px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
        background-color: #e68a02;
    }
}


@media only screen and (max-width:480px) {
    .text-input {
        font-size: smaller;
        padding: 0;
    }

    .search-button {
        width: auto;
    }
}