.beaches-location {
    display: flex;
    padding-top: 80px;
}

.beaches-location-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.beaches-location__title {
    text-align: center;
    font-size: 2.5rem;
    padding: 30px 0;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #002D5C;
}

.beach-item__title {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    color: #002D5C;
    text-align: center;
}

.beach-item__location {
    text-align: center;
    padding: 20px;
    color: #434343
}

.beach-item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 1.5em;
}

.beach-item__image-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.beach-item__image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.beaches-location__link {
    text-decoration: none;
}

.beaches-location__no-results {
    padding: 30px;
    text-transform: capitalize;
}

.filter-title {
    font-size: 1.5rem;
    color: #333;
    padding: 30px 20px 20px;
}

.beaches-location__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 20px;
    margin: 0;
    list-style-type: none;
    justify-content: flex-start;
}

.beaches-location__item {
    flex: 0 1 calc(33.33% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
}

.beach-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: hsl(210, 17%, 98%);
    width: 100%;
    height: 100%;
}

.filters-wrapper {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}