.filter-wrapper {
    width: 250px;
    padding: 15px;
    border-radius: 8px;
    position: sticky;
    top: 20px;
    height: 100vh
}


.option-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 5px 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

.option-title:hover {
    background-color: #d3d1d1;
}

.toggle-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.filter-options {
    padding: 2px 8px;
}