.beach-filter {
    width: 250px;
    border-radius: 8px;
    position: sticky;
    top: 20px;
}

.beach-filter__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 12px 24px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    border-bottom: 1px solid #e7e7e7;
}


.beach-filter__title:hover {
    background-color: #ececec;
}

.beach-filter__toggle-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 1em;
    line-height: 1;
    transition: transform 0.3s ease;
    padding: 0;
}

.beach-filter__toggle-button:hover {
    transform: scale(1.1);
}

.beach-filter__options {
    padding: 10px 20px;
}

.beach-filter__option {
    padding: 3px;
    display: flex;
    align-items: center;
}

.beach-filter__label {
    color: #111111;
    padding: 5px;
    margin-left: 3px;
}

.beach-filter__checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid #a8a8a8;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    outline: none;
    flex-shrink: 0;
}

.beach-filter__checkbox:checked {
    background-color: #007BFF;
    border: 1px solid #005f73;
}


.beach-filter__checkbox::after {
    content: "";
    display: block;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) scale(0);
    position: absolute;
    top: 1px;
    left: 4px;
    transition: transform 0.2s ease;
}

.beach-filter__checkbox:checked::after {
    transform: rotate(45deg) scale(1);
}

.beach-filter__checkbox:hover {
    border-color: #707070;
}