.beach-card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 3 / 4;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    padding: 0.8rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: transform 0.3s ease;
    justify-content: space-between;

}

.beach-card__wrapper:hover {
    transform: scale(1.05);
}

.beach-card__img-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
    flex-shrink: 0;
}

.beach-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.beach-card__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.3rem 0;
    gap: 0.3rem;
    flex-grow: 1;
    justify-content: space-evenly;
}

.beach-card__title {
    color: #2c3e50;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 700;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: box;
}

.beach-card__location {
    color: #7f8c8d;
    font-size: 0.95rem;
    line-height: 1.4;
    white-space: normal;
    word-break: break-word;
    max-height: 2.4rem;
    text-align: center;
}

.beach-card__rating {
    color: #27ae60;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem 0;
}

@media (min-width: 600px) {
    .beach-card__wrapper {
        max-width: 280px;
    }
}

@media (min-width: 768px) {
    .beach-card__wrapper {
        max-width: 300px;
    }
}