.beach-card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}


.beach-card__image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.beach-card__title {
    color: #003366;
    font-size: 1.1rem;
    line-height: 1.4;
    max-height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    word-break: break-word;
}

.beach-card__location {
    color: black;
    font-size: 1rem;
    padding: 5px;

}

.beach-card__rating {
    color: #4CAF50;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
}